.App {
  text-align: center;
  background-color: wheat;
  min-width: 45vh;
  
  flex-direction: initial;
  
}



@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";